@font-face {
  font-family: 'AzoSans';
  src: local('AzoSans'), url(./fonts/AzoSans-Regular.woff) format('woff');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
  }
@font-face {
  font-family: 'AzoSansMedium';
  src: local('AzoSansMedium'), url(./fonts/AzoSans-Medium.woff) format('woff');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}
@font-face {
  font-family: 'AzoSansLight';
  src: local('AzoSansLight'), url(./fonts/AzoSans-Light.woff) format('woff');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}


.App {
  text-align: center;
}

html,
body {
  margin: 0;
  padding: 0;
}


.container {
  background-image: url('./components/pages/bg.png');
  background-size: cover;
  background-position: top center;
  height: 100vh;
  overflow: hidden;
}


div.logo {
  max-width: 20%;
  position:relative;
  margin:0 auto;
  clear:left;
  height:auto;
  z-index: 0;
  text-align:center;
}

img {
  padding: 5px;
  max-width: 100%;
  height: auto;
  width: auto\9; /* ie8 */
}

.main {
  
  color: whitesmoke;
  text-align: center;
  margin-top: 7%;
  margin-bottom: 0%;
  margin-left: 5%;
  margin-right: 5%;
}


h1 {
  font-family: 'AzoSans';
}

h3 {
  font-family: 'AzoSansLight';
}




@media only screen and (max-width: 420px) {

  div.logo {
    max-width: 25%;
    position:relative;
    margin:0 auto;
    clear:left;
    height:auto;
    z-index: 0;
    text-align:center;
  }

  .main {
  
    color: whitesmoke;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 0%;
    margin-left: 5%;
    margin-right: 5%;
  }


}

@media only screen and (min-width: 540px) {

  div.logo {
    max-width: 15%;
    position:relative;
    margin:0 auto;
    clear:left;
    height:auto;
    z-index: 0;
    text-align:center;
  }
}


@media only screen and (min-width: 740px) {

  div.logo {
    max-width: 12%;
    position:relative;
    margin:0 auto;
    clear:left;
    height:auto;
    z-index: 0;
    text-align:center;
  }
}